%div
  %div Для того, чтобы начать работу с SMS базаром нужно отправить "0" на номер 1172
  %div Вам придет сообщение следующего вида: 
  %div
    %ol
      %li - Купить 
      %li - Продать
  %div Если вы ответите на это SMS номером "1" или номером "2", то получите список категорий для дальнейшего выбора
  %div Система работает в тестовом режиме и только через мобильного оператора "О!"
  %div SMS сообщeние с текстом "0" всегда вернет вас в главное меню
  %div SMS сообщeние с текстом "*0" всегда вернет вас на уровень выше
  %div 
    Когда вы начинаете получать объявления из какого-либо раздела, для того чтобы просмотреть дальнейшие объявления данного раздела, нужно отправить SMS с текстом: 
    %ul
      %li "1" - чтобы получить следующее объявление 
      %li "2" - чтобы получить два следующих объявления 
      %li "3" - чтобы получить три и так далее...
