<!DOCTYPE html>
<html>
<head>
  <title>SMS Базары</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body style="background-image:url('/images/bg.gif')">
  <center>     
    <div style="text-align:left; width:800px; margin:auto 0; margin-top:30px; background-color:white; padding:20px;">
      <%= yield %>
    </div>
  </center>  
</body>
</html>
