<h1>Тестим рельсы</h1>
<p>
  Это тестовая страница )))
</p>

<p><%= @f %></p>
<p><%= @p %></p>

<p>
  <%= link_to "Advs", advs_path %>
</p>


        <object width="550" height="50" type="application/x-shockwave-flash" data="http://podcast.namba.dev/swf/flowplayer-3.1.5.swf">
          <param value="http://podcast.namba.dev/swf/flowplayer-3.1.5.swf" name="src">
          <param value="true" name="allowfullscreen">
          <param value="always" name="allowscriptaccess">
          <param value="opaque" name="wmode">
          <param value="config=http://podcast.namba.dev/flashvars.php?i=1912122" name="flashvars">
        </object>     
        
