body {
  background-image:url('/images/bg.png');
  padding:0;
  margin:0;
}

#top_info {
  text-align:left;
  padding-top:35px;
  width:850px;
  font-size:30px;
  position:absolute;
  color:white;
  z-index:10;
  left:50%;
  margin-left:-425px;
}

#top_black_box {
  background-color:black;
  height:100px;
  margin-bottom:35px;
  opacity:0.7;
}

#main_content_box {
  border:6px solid #5F6972; 
  text-align:left; 
  width:800px; 
  margin:auto 0; 
  margin-top:30px; 
  background-color:white; 
  padding:20px;
}
