<div class="content">
  <div style="padding:10px;">Для того, чтобы начать работу с SMS базаром нужно отправить "0" на номер 1172</div>
  <div style="padding:10px;">Вам придет сообщение следующего вида:</div> 
    <div style="padding:10px;padding-left:30px;">
      1 - Купить<br>
      2 - Продать
    </div>
  <div style="padding:10px;">
    Если вы ответите на это SMS номером "1" или номером "2", то получите список категорий для дальнейшего выбора
  </div>
  <div style="padding:10px;">
    Система работает в тестовом режиме и только через мобильного оператора "О!"
  </div>
  <div style="padding:10px;">
    SMS сообщeние с текстом "0" всегда вернет вас в главное меню
  </div>
  <div style="padding:10px;">
    SMS сообщeние с текстом "*0" всегда вернет вас на уровень выше
  </div>
  <div style="padding:10px;">
    Когда вы начинаете получать объявления из какого-либо раздела, то действует следующее правило:<br>
    если отправите 1 - получите 1 объявление<br>
    2 - два объявления<br>
    3 - три и так далее
  </div>
</div>
