<div class="content">
  <% @advs.each do |adv| %>
    <div style="padding-bottom:30px;">
      <%= render :partial => "shared/crumps", :locals => {:node_id => adv.node_id} %>
      <%= render :partial => "shared/adv", :locals => {:adv => adv} %>
    </div>
  <% end %>
</div>
